{% extends 'base.html.j2' %}
{% block title %}
Battle
{% endblock %}

{% block content %}
<h1 style = "text-align:center">Battle to Become the Best</h1>
<hr>
<br>

<div class="container">
<div class="row">
{% for pokemaster in pokemasters %}
<div class="col-sm-4">
        {% include './includes/attack_card.html.j2' %}
</div>
{% endfor %}
</div>
</div>

{% endblock %}