{% extends 'base.html.j2' %}
{% block title %}
Greetings
{% endblock %}

{% block content %}
<h1>WELCOME FUTURE POKEMASTER!</h1>
<h4>We are lucky to have you in PokeVillage</h4>
Feel free to look up any of your current pokemon and their stats!


{% endblock %}