{% extends 'base.html.j2' %}
{% block title %}
Greetings
{% endblock %}

{% block content %}
<header>
<h1><strong>POKEMON VILLAGE</strong></h1>
<hr>
<br>


{# <div class="card text-center" id ="home_card">
  <div class="card-body">
    <h5 class="card-title"><strong>Welcome back {{current_user.first_name.title()}}!</strong></h5>
    <p class="card-text">We know you have what it takes to be the very best Pokemon Master there has ever been. We are lucky to have you here in Pokemon Village and very excited to see what you've got. Feel free to explore every thing we have to offer here.</p>
    <h5><strong>Connect. Train. Battle.</strong></h5>
    <h4><strong>CATCH 'EM ALL!!!</strong></h4>
  </div>
</div> #}



{# <h4><strong>Welcome back {{current_user.first_name.title()}}!</strong></h4>
<br>
<p>We know you have what it takes to be the very best Pokemon Master there has ever been. We are lucky to have you here in Pokemon Village and very excited to see what you've got. Feel free to explore every thing we have to offer here.</p>
<h5><strong>Connect. Train. Battle.</strong></h5>
<h3><strong>CATCH 'EM ALL!!!</strong></h3> #}

</header>


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/images/pikachu.jpg" height = "600px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/images/charizard.jpg" height = "600px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/images/jigglypuff.jpg" height = "600px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/images/psyduck.jpg" height = "600px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/images/bulbasaur.jpg" height = "600px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/images/mew.jpg" height = "600px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/images/pokeball.jpg" height = "600px" class="d-block w-100" alt="...">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
    </div>

    <main>

    <div id = "connect">
    <a href="{{url_for('build.my_pokemon')}}">
    <button type="button" class="btn btn-warning btn-lg" id = "button">
    <h4>View</h4> 
    <h6>My</h6>
    <h4>Cards</h4>
    </button>
    </a>
    </div>

    <div id = "lookup">
    <a href="{{url_for('main.lookup')}}">
    <button type="button" class="btn btn-info btn-lg" id = "button">
    <h4>Search</h4> 
    <h6>Pokemon</h6>
    <h4>Collection</h4>
    </button>
    </a>
    </div>

    <div id = "battle">
    <a href="{{url_for('build.battle')}}">
    <button type="button" class="btn btn-danger btn-lg" id = "button">
    <h4>Battle</h4> 
    <h6>other</h6>
    <h4>Masters</h4>
    </button>
    </a>
    </div>

    </main>
    <div id = "title">
        <h3><strong>Pokemon Types</strong></h3>
    <hr>
    </div>
    
    <div id = "types">

    
    
    <div id = "fire">
        <h4>Fire</h4>
        <img src = "../static/images/fire.png" height = "100px">
    </div>
    <div id = "water">
        <h4>Water</h4>
        <img src = "../static/images/water.png" height = "100px">
    </div>
    <div id = "electric">
        <h4>Electric</h4>
        <img src = "../static/images/electric.png" height = "100px">
    </div>
    <div id = "grass">
        <h4>Grass</h4>
        <img src = "../static/images/grass.png" height = "100px">
    </div>
    <div id = "ice">
        <h4>Ice</h4>
        <img src = "../static/images/ice.png" height = "100px">
    </div>
    <div id = "normal_">
        <h4>Normal</h4>
        <img src = "../static/images/normal.png" height = "100px">
    </div>
    <div id = "fighting">
        <h4>Fighting</h4>
        <img src = "../static/images/fighting.png" height = "100px">
    </div>
    <div id = "poison">
        <h4>Poison</h4>
        <img src = "../static/images/poison.png" height = "100px">
    </div>
    <div id = "ground">
        <h4>Ground</h4>
        <img src = "../static/images/ground.png" height = "100px">
    </div>
    <div id = "flying">
        <h4>Flying</h4>
        <img src = "../static/images/flying.png" height = "100px">
    </div>
    <div id = "psychic">
        <h4>Psychic</h4>
        <img src = "../static/images/psychic.png" height = "100px">
    </div>
    <div id = "bug">
        <h4>Bug</h4>
        <img src = "../static/images/bug.png" height = "100px">
    </div>
    <div id = "rock">
        <h4>Rock</h4>
        <img src = "../static/images/rock.png" height = "100px">
    </div>
    <div id = "ghost">
        <h4>Ghost</h4>
        <img src = "../static/images/ghost.png" height = "100px">
    </div>
    <div id = "dragon">
        <h4>Dragon</h4>
        <img src = "../static/images/dragon.png" height = "100px">
    </div>
    <div id = "dark">
        <h4>Dark</h4>
        <img src = "../static/images/dark.png" height = "100px">
    </div>
    <div id = "steel">
        <h4>Steel</h4>
        <img src = "../static/images/steel.png" height = "100px">
    </div>
    <div id = "fairy">
        <h4>Fairy</h4>
        <img src = "../static/images/fairy.png" height = "100px">
    </div>
    
    </div>


{% endblock %}