{% extends 'base.html.j2' %}
{% block title %}
My Pokemon
{% endblock %}

{% block content %}
<h1 style = "text-align: center">{{current_user.first_name}}'s Pokemon Collection</h1>
<hr>
<br>

{% for pokemon in pokemons %}

{% include './includes/card.html.j2' %}

{% endfor %}


{% endblock %}

